@import url('./styles/fonts.css');
@import url('./styles/global.css');
@import url('./styles/header.css');
@import url('./styles/main.css');
@import url('./styles/about_our_trip.css');
@import url('./styles/our_offer.css');
@import url('./styles/destinations.css');
@import url('./styles/blog_about_impressions.css');
@import url('./styles/photo_report.css');
@import url('./styles/footer.css');
@import url('./styles/modal_window.css');
