.main {
	min-width: var(--max-width);
}

.content-title {
	display: flex;
	flex-direction: column;
	gap: var(--gap_8);
	font-family: var(--font_nunito), sans-serif;
	font-size: var(--font-size_32);
	font-weight: 800;
	line-height: var(--line-height_120pr);
	color: var(--color_black-blue);
}

.content-info {
	color: var(--color_yellow);
	font-size: var(--font-size_24);
	font-weight: 400;
	line-height: var(--line-height_20);
}

.content-text {
	color: var(--color_black-blue);
	font-family: var(--font_nunito), sans-serif;
	font-size: var(--font-size_18);
	font-weight: 400;
	line-height: var(--line-height_150pr);
}

.section-gray {
	font-family: var(--font_nunito), sans-serif;
	background-color: var(--color_white-green_10);
	padding-top: 80px;
	padding-bottom: 100px;
}



@media (max-width: 480px) {
	.main {
		min-width: 0;
	}

	.section-gray {
		padding: 50px 16px;
	}
}